body{
    padding: 0;
    margin-left: -38rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    width: 7rem;
    height: 7rem;
    font-weight: bold;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    border: 0.2rem solid black;
    border-radius: 50%;
    background-color: rgb(3, 112, 112);
    border: 0.1rem;
}
.logo .first-text{
    margin-left: 0.5rem;
    margin-top: 1rem;
    color: black;
}
.logo .second-text{
    color: white;
    margin-left: 2.8rem;
}