/*The root variables section*/
:root{
    /*color variables*/
    --color-yellow: rgba(255,255,0,1);
    --color-red: rgba(255,0,0,1);
    --color-alice-blue: aliceblue;
    --color-yellow-green : rgba(154,205,50,1);
    --color-blue-violet: rgba(138,43,226,1);
    --color-white: rgba(255,255,255,1);
    --color-light: rgba(255,255,255,0.7);
    --color-dark: rgba(0,0,0,1);
    --color-light-dark: rgba(0,0,0,0.5);
    --color-grey: rgba(155,155,155,1);
    --color-primary: rgba(0,0,255,0.8);
    --color-danger: rgba(255,70,70,1);
    --color-blue: rgba(0,0,255,0.8);
    --color-light-blue: rgba(180,180,255,1);
    --color-lighter-blue: rgba(220,220,255,1);
    --color-success: rgba(0,255,0,0.8);
    --color-light-green: rgba(0,255,0,0.5);
    --color-green: rgba(0,255,0,1);
    --color-pink: rgba(255,0,150,1);
    --color-light-pink: rgba(255,0,150,0.4);
    --color-purple: rgba(50,0,255,1);
    --color-light-purple: rgba(50,0,255,0.5);
    /*padding variales*/
    --card-padding: 0.5rem;
    --larger-padding: 2em;
    /*margin-variables*/
    --margin-top: 1rem;
    --margin-bottom: 1rem;
    --margin-right: 1rem;
    --margin-left: 1rem;
    /*border-radius*/
    --card-border-radius: 1rem;
    /*logo img sizing */
    --logo-img-width: 3rem;
    --logo--img-height: 3rem;
    /*logo text sizing*/
    --logo-text-font-size: 1rem;
    --logo-text-line-height: 1rem;
    /*button sizing*/
    --button-width: 2rem;
    --button-height: 2rem;
    /*--menu-items*/
    --menu-item-bottom: 0.3rem;
    --menu-item-line-height: 1.5rem;
    --menu-item-radius: 0.2rem;
    --menu-item-width: 6.5rem;
    /*transition time*/
    --fast-smooth-transition: 0.3s;
    /*text-styling, don't repest colors, only text-muted
    is valid here.*/
    --text-muted: rgba(0,0,0,0.6);
    /*notification bar*/
    --notification-light: rgba(255,255,255,0.8);
    --notification-dark: rgba(0,0,0,1);
}

/*general styling*/
body{
    padding: 0;
    margin: 0;
    /*overflow: hidden;*/
    background-color: aliceblue;
}
a{
    text-decoration: none;
}

/*header */
header{
    position: sticky;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    /*I'll do the manual media screening for smaller screen sizes, since the flex style hasn't worked here. */
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(3rem);
}

header .page-title{
    color: var(--color-green);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
header .page-title span.fa{
    color: var(--color-blue);
}
.l-section{
    font-size: 1.5rem;
    display: flex;
    gap: 1.5rem;
    margin-right: 2rem;
    font-weight: bold;
}
.l-section hr{
    display: none;
    visibility: hidden;
}
.l-section a:hover{
    color: var(--color-green);
}

.l-section{
    font-size: 1.5rem;
    display: flex;
    padding-left: 2rem;
    width: 30rem;
    gap: 1.5rem;
    margin-right: 0rem;
    font-weight: bold;
    border: 0rem;
}
.l-section hr{
    width: 100%;
}
.drop-down-div{
    border: 0rem;
}
.fa-bars{
    cursor: pointer;
    font-size: 3.5rem;
    position: fixed;
    color: var(--color-blue);
    right: 0.3rem;
    top: 0rem;
    display: none;
    visibility: hidden;
}
.fa-close{
    cursor: pointer;
    font-size: 4rem;
    color: var(--color-red);
    z-index: 20;
    position: fixed;
    right: 0.3rem;
    top: 0rem;
    display: none;
    visibility: hidden;
}
/*media screen for the small screen devices*/
@media screen and (max-width : 991px){
    .l-section{
        display: none;
        visibility: hidden;
        background-color: var(--color-dark);
        flex-direction: column;
        position: fixed;
        top: 0rem;
        right: 0rem;
        width: 10rem;
        height: 100vh;
        align-items: center;
        padding-top: 6rem;
        padding-left: 0;
        border: 0.2rem solid black;
        z-index: 18;
    }
    .l-section hr{
        display: block;
        visibility: visible;
    }
    .fa-bars{
        display: inline;
        visibility: visible;
    }  
}
.l-section.active{
    display: flex;
    visibility: visible;
}
.fa.active{
    display: block;
    visibility: visible;
}


/*logo section*/
.logo-section{
    width: 15rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    gap: 1rem;
}
.logo{
    clip-path: circle(
        100% at 0% 50%
    );
}
.logo-name{
    color: var(--color-blue-violet);
    font-weight: bolder;
    font-size: 2rem;
}
.first-title{
    color: var(--color-blue);
    font-weight: bolder;
}

body >h1{
    color: var(--color-blue);
    text-align: center;
}
.main-section{
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    min-height:100vh;
    margin: auto;
    text-align: center;
    box-sizing: border-box;
    padding: 1rem; 

}
.popular-services{
    display: flex;
    flex-wrap: wrap;
    row-gap: 3rem;
    column-gap: 2rem;
    padding-bottom: 2rem;
}
.main-section .product-template{
    width: 20rem;
    height: 30rem;
    background-color: var(--color-dark);
    border-radius: .3rem;
    box-shadow: 0.25rem 0.25rem 0.25rem var(--color-blue);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.product-template img{
    width: 100%;
    height: 20rem;
}
.product-template .description-div{
    display: flex;
    flex-direction: column;
    gap: 0;
    font-weight: bold;
    text-align: left;
    padding-left: 1rem;
    padding-right: 1rem;
}
.product-template .description-div div{
    margin: 0;
    padding: 0;
    color: white;
}
.product-template .fa-star, .fa-star-half{
    color: var(--color-yellow);
}
.product-template .description-div p{
    text-align: left;
    margin: 0;
    padding: 0;
}
.product-template .description-div h2{
    margin: 0;
    padding: 0;
    text-align: left;
    color: var(--color-blue-violet);
}
.product-template .review-numbers{
    color: var(--color-light-blue);
}
.product-template .price-details span{
    color: var(--color-yellow);
}
.product-template .product-details{
    width: 98%;
    text-align: center;
    height: 3.4rem;
    margin: auto;
    overflow: hidden;
}
.product-template .cart-div button{
    width: 8rem;
    height: 2.3rem;
    border-radius: 1.5rem;
    background-color: var(--color-white);
    font-weight: bolder;
    color: blue;
}
.product-template .cart-div button:hover{
    color: var(--color-white);
    background-color: purple;
}
.main-section h1{
    text-align: center;
    color: var(--color-purple);
}

/*search bar */
.search-bar{
    width: 30rem;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-white);
    border-radius: 2rem;
    border: 0.15rem solid var(--color-dark);
}
.search-input{
    width:90%;
    height: 100%;
    background-color: transparent;
    border: 0;
    outline: none;
    font-weight: bold;
    color: var(--color-black);
    font-size: 1rem;
}
.search-input::placeholder{
    font-size: 1.3rem;
    color: var(--color-blue);
    font-weight: bold;
    text-align: center;
}
/*The button for searhing as well as you can press enter to search anything. */
.search-bar button{
    outline: none;
    width: 10%;
    height: 100%;
    border: 0;
    margin-left: -1rem;
    border-radius: 1rem;
    background-color: transparent;
}
.fa-magnifying-glass{
    font-size: 1.7rem;
    border: 0;
}